parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#is never read#'
        - '#is never written, only read.#'
        - '#Negated boolean expression is always false.#'

